.add-btn{
padding:20px;
background-color:#118811;
color:white;

    border-radius: 10px;
    border: 2px solid #464646;
    overflow: hidden;
    font-size:1.5em;
}
.btn{
padding:10px;
border-radius: 10px;
color:white;
    border: 2px solid #464646;
    overflow: hidden;
    font-size:1.5em;

}
.complete{
background-color:#118811;
color:white;
}

.complete #list{
background-color:#99FF99;
}
.pending{
background-color:#999900;
color:white;
}
.pending #list{
background-color:#FFFF99;
}
.edit{
background-color:#111188;
}
.delete{
background-color:#881111;
}