<ion-header>
  <ion-navbar>
    <ion-title> My To-Do List {{ toDoList?.length }} </ion-title>
    <ion-buttons end> <button class="add-btn" (click)="newToDo()"><ion-icon name="add-circle"></ion-icon> </button> </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="home">
  <ion-card>
    <ion-card-header class="pending"> Pending To-Do </ion-card-header>
    <ion-list >
      <ion-item id="list" text-wrap *ngFor="let toDo of toDoList | async" [class.hide]="toDo.done == true">
        <ion-icon name="timer" danger item-left></ion-icon>
        <h2>{{toDo.name}}</h2>
        <h3>Notes: <strong>{{toDo.notes}}</strong></h3>
        <ion-icon name="checkmark-circle" (click)="promptComplete(toDo.$key)" class="btn complete" danger item-right></ion-icon>
        <ion-icon name="construct" (click)="showEditOptions(toDo.$key, toDo.name, toDo.notes)" class="btn edit" danger item-right></ion-icon>
        <ion-icon name="trash" (click)="promptDelete(toDo.$key)" class="btn delete" danger item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header class="complete"> Completed </ion-card-header>
    <ion-list>
      <ion-item text-wrap id="list" *ngFor="let toDo of toDoList | async" [class.hide]="toDo.done == false">
        <ion-icon name="checkmark-circle" favorite item-left></ion-icon>
        <h2>{{toDo.name}}</h2>
        <h3>Notes: <strong>{{toDo.notes}}</strong></h3>
        <ion-icon name="trash" (click)="promptDelete(toDo.$key)" class="btn delete" danger item-right></ion-icon>
      
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>